#card {
  // .card__glare.g-0 {
  // }

  // secret-rare
  .card__glare.g-1 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(45deg 8% 80% / 30%) 0%,
      hsl(22deg 15% 12%) 180%
    );
    filter: brightness(1.3) contrast(1.5);
    mix-blend-mode: hard-light;
  }

  // amazing-rare
  .card__glare.g-2 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(50deg 20% 90% / 45%) 0%,
      hsl(150deg 20% 30% / 45%) 45%,
      hsl(0deg 0% 0% / 90%) 120%
    );
    filter: brightness(0.9) contrast(2);

    &::after {
      background-image: radial-gradient(
        farthest-corner circle at var(--pointer-x) var(--pointer-y),
        hsl(50deg 20% 90% / 75%) 0%,
        hsl(150deg 20% 30% / 65%) 45%,
        hsl(0deg 0% 0% / 100%) 90%
      );
      opacity: 1;
      filter: brightness(1) contrast(1.5);
      mix-blend-mode: overlay;
      content: '';
    }
  }

  .card__glare.g-3 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(204deg 100% 95% / 80%) 5%,
      hsl(250deg 15% 20% / 100%) 150%
    );
    opacity: calc(var(--card-opacity) * (0.25 + var(--pointer-from-center)));
    filter: brightness(0.75) contrast(2) saturate(2);
    mix-blend-mode: overlay;

    &::after {
      background-image: radial-gradient(
        farthest-corner circle at var(--pointer-x) var(--pointer-y),
        hsl(280deg 100% 96%) 5%,
        hsl(0deg 0% 10%) 60%
      );
      opacity: calc(1 - var(--pointer-from-top) * 0.75);
      filter: brightness(0.75) contrast(2.5) saturate(2);
      mix-blend-mode: soft-light;
      content: '';
    }
  }

  .card__glare.g-4 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 100% / 33%) 0%,
      hsl(0deg 0% 25%) 110%
    );
    filter: brightness(1) contrast(1.5);
    mix-blend-mode: hard-light;
  }

  .card__glare.g-5 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(50deg 20% 90% / 75%) 0%,
      hsl(150deg 20% 30% / 65%) 45%,
      hsl(0deg 0% 0% / 100%) 100%
    );
    opacity: calc(var(--card-opacity) * 0.75);
    filter: brightness(0.9) contrast(2);
  }

  .card__glare.g-6 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 80%),
      hsl(187deg 10% 85% / 25%) 30%,
      hsl(197deg 6% 25%) 120%
    );
    opacity: calc(var(--pointer-from-center) * 0.9);
    filter: brightness(0.9) contrast(1.75);
    mix-blend-mode: hard-light;
  }

  .card__glare.g-7 {
    opacity: calc(var(--card-opacity) * 0.8);
    filter: brightness(0.8) contrast(1.5);
    mix-blend-mode: overlay;

    &::after {
      background-image: radial-gradient(
        farthest-corner circle at var(--pointer-x) var(--pointer-y),
        hsl(180deg 100% 95%) 5%,
        hsl(0deg 0% 39% / 25%) 55%,
        hsl(0deg 0% 0% / 36%) 110%
      );
      filter: brightness(0.6) contrast(3);
      mix-blend-mode: overlay;
      content: '';
    }
  }

  .card__glare.g-8 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 100% / 80%) 10%,
      hsl(0deg 0% 100% / 50%) 20%,
      hsl(0deg 0% 0% / 75%) 90%
    );
    opacity: var(--card-opacity);
    filter: brightness(0.7) contrast(1.5);

    &::after {
      background-image: radial-gradient(
        farthest-corner circle at var(--pointer-x) var(--pointer-y),
        hsl(0deg 0% 100%) 10%,
        hsl(0deg 0% 100% / 50%) 20%,
        hsl(0deg 0% 0% / 50%) 120%
      );
      opacity: var(--card-opacity);
      filter: brightness(1) contrast(1.5);
      content: '';
    }
  }

  .card__glare.g-9 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(248deg 5% 90% / 45%) 0%,
      hsl(206deg 5% 30% / 45%) 45%,
      hsl(0deg 0% 0% / 33%) 120%
    );
    filter: brightness(1) contrast(1.25);
  }

  .card__glare.g-10 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 80%),
      hsl(0deg 0% 74.9% / 25%) 30%,
      hsl(0deg 0% 21.6%) 130%
    );
    opacity: calc(var(--pointer-from-center) * 0.9);
    filter: brightness(0.9) contrast(2);
    mix-blend-mode: hard-light;
  }

  .card__glare.g-11 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 100% / 100%) 10%,
      hsl(0deg 0% 100% / 60%) 35%,
      hsl(180deg 11% 35% / 100%) 60%
    );
    mix-blend-mode: soft-light;
  }

  .card__glare.g-12 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 100% / 75%) 0%,
      hsl(0deg 0% 0%) 120%
    );
    opacity: calc(
      (0.2 * var(--card-opacity)) + var(--card-opacity) * var(--pointer-from-center) * 0.8
    );
    filter: brightness(1) contrast(1);
    mix-blend-mode: hard-light;
  }

  .card__glare.g-13 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 100%) 0%,
      hsl(210deg 3% 54% / 33%) 45%,
      hsl(0deg 0% 20% / 90%) 130%
    );
    opacity: calc(var(--card-opacity) * 0.5);
    filter: brightness(0.9) contrast(1.75);
    mix-blend-mode: hard-light;
  }

  .card__glare.g-14 {
    background-image: radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 100% / 80%) 10%,
      hsl(0deg 0% 100% / 65%) 20%,
      hsl(0deg 0% 0% / 50%) 90%
    );
    opacity: var(--card-opacity);
  }
}
