#card {
  --grain: url('../assets/grain.webp');
  --glitter: url('../assets/glitter.png');
  --glittersize: 25%;
  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;
  --red: #f80e35;
  --yellow: #eedf10;
  --green: #21e985;
  --blue: #0dbde9;
  --violet: #c929f1;

  // 位移
  --pointer-x: 50%;
  --pointer-y: 50%;
  --card-scale: 1;
  --card-opacity: 0;
  --translate-x: 0px;
  --translate-y: 0px;
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --background-x: var(--pointer-x);
  --background-y: var(--pointer-y);
  --pointer-from-center: 0;
  --pointer-from-top: var(--pointer-from-center);
  --pointer-from-left: var(--pointer-from-center);

  // --card-aspect: 0.718;
  --card-radius: 8px;
  --card-edge: hsl(47deg 100% 78%);
  --card-back: hsl(205deg 100% 25%);
  --card-glow: hsl(175deg 100% 90%);
  --sunpillar-1: hsl(2deg 100% 73%);
  --sunpillar-2: hsl(53deg 100% 69%);
  --sunpillar-3: hsl(93deg 100% 69%);
  --sunpillar-4: hsl(176deg 100% 76%);
  --sunpillar-5: hsl(228deg 100% 74%);
  --sunpillar-6: hsl(283deg 100% 73%);
  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);

  z-index: calc(var(--card-scale) * 2);

  // width: 640px;
  // height: 360px;
  border-radius: var(--card-radius);
  transform: translate3d(0, 0, 0.01px);
  transform-style: preserve-3d;
  pointer-events: none;
  will-change: transform, visibility, z-index;

  &.interacting {
    z-index: calc(var(--card-scale) * 120);
  }

  // outline: 1px solid transparent;

  .card__translater,
  .card__rotator {
    display: grid;
    transform-origin: center;
    perspective: 600px;
    will-change: transform, box-shadow;
  }

  .card__translater {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate3d(var(--translate-x), var(--translate-y), 0.1px) scale(var(--card-scale));
  }

  .card__rotator {
    border-radius: var(--card-radius);
    box-shadow: 0 0 3px -1px transparent, 0 0 2px 1px transparent, 0 0 5px 0 transparent,
      0 10px 20px -5px black, 0 2px 15px -5px black, 0 0 20px 0 transparent;
    transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
    transform-style: preserve-3d;
    transition: box-shadow 0.4s ease, opacity 0.33s ease-out;
    pointer-events: auto;

    &:focus {
      box-shadow: 0 0 3px -1px white, 0 0 3px 1px var(--card-edge), 0 0 12px 2px var(--card-glow),
        0 10px 20px -5px black, 0 0 40px -30px var(--card-glow), 0 0 50px -20px var(--card-glow);
    }

    * {
      display: grid;
      grid-area: 1/1;
      width: 100%;
      overflow: hidden;
      border-radius: var(--card-radius);
      transform-style: preserve-3d;
      pointer-events: none;

      // aspect-ratio: var(--card-aspect);
      image-rendering: optimizequality;
    }

    img {
      height: auto;
      transform: translate3d(0, 0, 0.01px);
    }
  }

  .card__back {
    // background-color: var(--card-back);
    transform: rotateY(180deg) translateZ(1px);
    backface-visibility: visible;
  }

  .card__front {
    transform: translate3d(0, 0, 0.01px);
    backface-visibility: hidden;
    opacity: 1;
    transition: opacity 0.33s ease-out;

    * {
      backface-visibility: hidden;
    }
  }

  /** Shine Glare */
  .card__shine {
    z-index: 3;
    display: grid;
    overflow: hidden;
    background: transparent;
    background-position: center;
    background-size: cover;
    transform: translateZ(1px);
    opacity: var(--card-opacity);
    filter: brightness(0.85) contrast(2.75) saturate(0.65);
    mix-blend-mode: color-dodge;
    will-change: transform, opacity, background-image, background-size, background-position,
      background-blend-mode, filter;

    &::before {
      --sunpillar-clr-1: var(--sunpillar-5);
      --sunpillar-clr-2: var(--sunpillar-6);
      --sunpillar-clr-3: var(--sunpillar-1);
      --sunpillar-clr-4: var(--sunpillar-2);
      --sunpillar-clr-5: var(--sunpillar-3);
      --sunpillar-clr-6: var(--sunpillar-4);

      grid-area: 1/1;
      border-radius: var(--card-radius);
      transform: translateZ(1px);
    }

    &::after {
      --sunpillar-clr-1: var(--sunpillar-6);
      --sunpillar-clr-2: var(--sunpillar-1);
      --sunpillar-clr-3: var(--sunpillar-2);
      --sunpillar-clr-4: var(--sunpillar-3);
      --sunpillar-clr-5: var(--sunpillar-4);
      --sunpillar-clr-6: var(--sunpillar-5);

      grid-area: 1/1;
      border-radius: var(--card-radius);
      transform: translateZ(1.2px);
    }
  }

  .card__glare {
    overflow: hidden;
    transform: translateZ(1.41px);
    opacity: var(--card-opacity);
    mix-blend-mode: overlay;
    will-change: transform, opacity, background-image, background-size, background-position,
      background-blend-mode, filter;
  }

  /**  */
  &:not(.interactive) {
    &:hover {
      --pointer-x: 25% !important;
      --pointer-y: 10% !important;
      --card-scale: 1.1 !important;
      --card-opacity: 1 !important;
      --translate-x: 0px !important;
      --translate-y: -10px !important;
      --rotate-x: 7deg !important;
      --rotate-y: -19deg !important;
      --background-x: 44% !important;
      --background-y: 36% !important;
      --pointer-from-center: 0.9 !important;
      --pointer-from-top: 0.11 !important;
      --pointer-from-left: 0.25 !important;
    }

    .card__translater,
    .card__rotator,
    .card__shine,
    .card__glare {
      transition: all 0.3s ease;
    }
  }

  &.active {
    .card__rotator {
      box-shadow: 0 0 3px -1px white, 0 0 3px 1px var(--card-edge), 0 0 12px 2px var(--card-glow),
        0 10px 20px -5px black, 0 0 40px -30px var(--card-glow), 0 0 50px -20px var(--card-glow);
      touch-action: none;

      &:focus {
        box-shadow: 0 0 3px -1px transparent, 0 0 2px 1px transparent, 0 0 5px 0 transparent,
          0 10px 20px -5px black, 0 2px 15px -5px black, 0 0 20px 0 transparent;
        transition: box-shadow 0.4s ease, opacity 0.33s ease-out;
      }
    }

    .card__translater {
      touch-action: none;
    }
  }

  &.loading {
    .card__front {
      opacity: 0;
    }

    .card__back {
      transform: rotateY(0deg);
    }
  }
}
